@import '_mixin.scss';
@import './Lib/_base.scss';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-italic {
  font-style: italic !important;
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #007bff !important;
}

a.text-primary {
  &:focus,
  &:hover {
    color: #0062cc !important;
  }
}

.text-secondary {
  color: #6c757d !important;
}

a.text-secondary {
  &:focus,
  &:hover {
    color: #545b62 !important;
  }
}

.text-success {
  color: #28a745 !important;
}

a.text-success {
  &:focus,
  &:hover {
    color: #1e7e34 !important;
  }
}

.text-info {
  color: #17a2b8 !important;
}

a.text-info {
  &:focus,
  &:hover {
    color: #117a8b !important;
  }
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning {
  &:focus,
  &:hover {
    color: #d39e00 !important;
  }
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger {
  &:focus,
  &:hover {
    color: #bd2130 !important;
  }
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light {
  &:focus,
  &:hover {
    color: #dae0e5 !important;
  }
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark {
  &:focus,
  &:hover {
    color: #1d2124 !important;
  }
}

.text-muted {
  color: #6c757d !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-print-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

/* Base */
* {
  box-sizing: border-box;
}
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px;
  background-color: #fbfbfb;
}

@include respond-below(sm) {
  body {
    font-size: 10px;
  }
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::-moz-selection,
::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;

  &:hover {
    text-decoration: none;
  }
}

.btn {
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out !important;
  transition: 0.2s all ease-in-out !important;
  top: 0;
  letter-spacing: 0.05em;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none !important;
  }

  &.btn-secondary {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    color: #000;
  }

  &.btn-sm {
    font-size: 14px !important;
    padding: 10px 20px !important;
  }

  &.btn-primary {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.2em;
  }

  &:hover {
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -2px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

//1.header
///////////////////////////////
.header {
  font-size: 20px;
  i {
    font-size: 25px;
  }
  .navbar {
    padding: 30px 0;
    border-bottom: 1px solid #f3f3f4;
    .site-top-search {
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      input {
        width: 100%;
        padding-left: 40px;
        border: none;
        border-radius: 5px;
        outline: none;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        color: #495057;
        &:focus {
          padding-left: 20px;
        }
      }
    }
    .logo {
      text-align: center !important;
      a {
        display: inline-block;
        padding: 0 10px;
        font-weight: 400;
        text-transform: uppercase;
        color: #25262a;
        border: 2px solid #25262a;
        letter-spacing: 0.2em;
      }
      @include respond-below(sm) {
        margin-bottom: 20px;
      }
    }
    .site-top-icons {
      text-align: right !important;
      ul {
        height: initial;
        li {
          margin: 0 5px;
          cursor: pointer;
          display: inline;
          a {
            color: #868995;
          }
        }
      }
    }
  }
  .bread-crumb {
    line-height: 50px;
    font-size: 20px;
    height: 50px;
  }
}
///////////////////////////////
.menu-bar {
  border-bottom: 1px solid #f3f3f4;
}
//2 main
//2.1 main-home
main {
  width: 100vw;
  border-bottom: 1px solid #f3f3f4;
  .background-banner {
    width: 100vw;
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .element-info-service {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    @include depth(6);
    img {
      width: 20%;
      margin-bottom: 20px;
    }
    p.title {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .item-hot-home {
    &-list {
      .item {
        text-align: center;
        padding: 0px 15px;
        margin-bottom: 35px;
        .shopswatchinput {
          margin: 20px 0;
          img {
            margin: 0 5px;
            .active {
              border: black 1px solid;
            }
            &:hover {
              border: black 1px solid;
            }
          }
        }
        h3.card-title {
          font-size: 14px;
          font-weight: bold;
        }
        span.price {
          font-size: 13px;
          .price-amount {
            font-weight: bold;
            color: black;
          }
          del {
            font-size: 12px;
          }
        }
      }
    }
  }
}
main {
  .item-hot-home .item-hot-home-list .item,
  .shop .product-list .item {
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 35px;
    .card-main-image {
      position: relative;
      span {
        position: absolute;
        top: 30;
        left: 0;
        background: black;
        color: white;
        font-size: 12px;
        padding: 0 3px;
        border-radius: 10%;
      }
      .action-open-item {
        i {
          font-size: 100px;
          color: black;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: none;
      }
      &:hover {
        opacity: 0.5;
        .action-open-item {
          display: block;
        }
      }
    }
    .shopswatchinput {
      margin: 20px 0;
      img {
        margin: 0 5px;
        .active {
          border: black 1px solid;
        }
        &:hover {
          border: black 1px solid;
        }
      }
    }
    h3.card-title {
      font-size: 14px;
      font-weight: bold;
    }
    span.price {
      font-size: 13px;
      .price-amount {
        font-weight: bold;
        color: black;
      }
      del {
        font-size: 12px;
      }
    }
  }
}
//2.1 main-shop
main {
  .shop {
    padding: 40px 0;
    font-size: 16px;
    .filter-product {
      border: 1px solid #dee2e6;
      padding: 20px;
    }
  }
}

//3.footer
.footer {
  font-size: 1.3em;
  &-main {
    padding: 20px 0;
  }
  .copyright {
    text-align: center;
    border-top: 1px solid #f3f3f4;
  }
}
